@model Chess.Domain.Entities.Game
@{
    ViewBag.Title = Resources.Delete;
    var message = string.Format(Resources.AreYouSureYouWantToDeleteThis, Model.Name);
}

<h3>@message</h3>
<div>

    @using (Html.BeginForm("Delete", "Game", new { returnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Delete" class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList, (string)ViewBag.ReturnUrl)
        </div>
    }
</div>
