@{
    ViewBag.Title = Resources.About;
}

<hgroup class="title">
    <h1>@Resources.About</h1>
</hgroup>

<article>
    <div class="row">
        <div class="col-md-8">
            <p>
                @Resources.AboutDescription
            </p>
        </div>
        <div class="col-md-4">
            <img class="about-image" src="~/Images/profile.jpg" alt="profile" />
        </div>
    </div>    
</article>