@{
    ViewBag.Title = Resources.Contact;
}

<hgroup class="title">
    <h2>@Resources.Contact</h2>
</hgroup>

<section class="contact">
    <p>
        @Resources.EmailContactDescription
        <span><a href="mailto:jan.bjelicic@gmail.com">jan.bjelicic@gmail.com</a></span>
    </p>
    <p>
        @Resources.LinkedInContactDescription <a href="https://www.linkedin.com/profile/view?id=305998292&trk=nav_responsive_tab_profile">LinkedIn</a>
    </p>
    <p>
        @Resources.GitHubContactDescription <a href="https://github.com/janbjelicic">GitHub</a>
    </p>
</section>